body {
  margin: 0;
  font-family: Arial, sans-serif; /* Customize the font family as needed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace; /* Customize the code font as needed */
}

/* Add any global styles you need */
